 @model UserListModel
@{
    ViewData["Title"] = "Index";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminTLT/dist/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminTLT/dist/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminTLT/dist/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DataTable with default features</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                        <partial name="_ResponsePartial" />
                    <table id="users"  class="table table-bordered table-striped">
                        <thead>
                            <tr>
                               
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th style="width:150px">Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th style="width:150px">Actions</th>
                                
                                
                            </tr>
                        </tfoot>
                    </table>
                        <partial name="_ModalPartial" />
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    </div>
</section>

@section Scripts{
    <!-- DataTables  & Plugins -->
    <script src="~/AdminTLT/dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminTLT/dist/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {            
            $("#users").DataTable({
                "processing": true,
                "serverSide": true,
                "ajax" : {
                    "url": "/admin/user/GetUsers" //collect jeson data from controller
                },
                //used for update button
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 4,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/user/update/${data}'" value='${data}'>
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </button>
                                        <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </button>`;
                        }
                    }
                ]
            });
            //delete
            $('#users').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?');
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/admin/user/delete");
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });
        
            //$("#example1").DataTable({
            //    "responsive": true, "lengthChange": false, "autoWidth": false,
            //    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}