@model UserListModel
@{
    ViewData["Title"] = "Index";
}

<h1>All User Info</h1>
@foreach (var user in Model.GetUsers())
{
    <h2>@user.Name</h2>
    <h2>@user.Email</h2>
    <h2>@user.Phone</h2>
    <h2>@user.Address</h2>
}
