@model CreateBookModel
@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Create Book</h3>
                    </div>
                    <partial name="_ResponseModelPartial" />
                    <!-- /.card-header -->
                    <form role="form" asp-antiforgery="true" asp-action="Create" asp-controller="Book" asp-area="Admin" method="post">
                        <div class="card-body">
                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="Put  Book name.." />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input type="text" asp-for="Price" class="form-control" placeholder="Put Price.." />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Type"></label>
                                <input type="text" asp-for="Type" class="form-control" placeholder="Put book type.." />
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Author"></label>
                                <input type="text" asp-for="Author" class="form-control" placeholder="Put book author.." />
                                <span asp-validation-for="Author" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
